
.table_row {
  background-color: lightgray;
}
.table_header {
  padding: 3px 50px;
}
.table_header:nth-child(4){
  padding: 3px 60px;
}
.table_header:nth-child(5){
  padding: 3px 130px 3px 60px;
}
.edit_table_data {
  display: flex;
  justify-content: space-between;
}
.table_data {
  padding: 3px;
}
.modal_box {
  width: 40%;
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.modal_box input {
  margin-bottom: 10px;
  padding: 5px;
}
.table_input_radio {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.table_input_radio_row {
  display: flex;
}
.table_input_radio_row input {
  flex-basis: 10%;
}
.table_input_btn {
  padding: 5px;
}
.table_input_close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 8px;
}